# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  database-name:
    type: string
    default:
    description: The desired database name for which the access will be granted (this parameter is needed for MongoDB, MySQL and PostgreSQL).
  topic-name:
    type: string
    default:
    description: The topic name for which the access is granted (this parameter is needed for Kafka).
  index-name:
    type: string
    default:
    description: The topic name for which the access is granted (this parameter is needed for Kafka).
  extra-user-roles:
    type: string
    default:
    description: a comma-separated list of values that contains the required extra roles, e.g. `admin` in case of a database or `producer`, `consumer` in case of Kafka.
  consumer-group-prefix:
    type: string
    default:
    description: the required consumer group prefix for Kafka. (This is an optional parameter that could be specified in case of `consumer` role is set).
