# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.
name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  schedule:
    - cron: '53 0 * * *'  # Daily at 00:53 UTC
  # Triggered on push to branch "main" by .github/workflows/release.yaml
  workflow_call:
    outputs:
      artifact-prefix:
        description: build_charm.yaml `artifact-prefix` output
        value: ${{ jobs.build.outputs.artifact-prefix }}

jobs:
  lint:
    name: Lint
    uses: canonical/data-platform-workflows/.github/workflows/lint.yaml@v35.0.2

  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install tox & poetry
        run: |
          pipx install tox
          pipx install poetry
      - name: Run tests
        run: tox run -e unit

  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.7.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}" # FIXME: current token will expire in 2023-07-04
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  build:
    strategy:
      matrix:
        path:
          - .
          - tests/integration/app-charm
    name: Build charm | ${{ matrix.path }}
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v35.0.2
    with:
      path-to-charm-directory: ${{ matrix.path }}

  integration-test:
    strategy:
      fail-fast: false
      matrix:
        juju:
          - agent: 2.9.52  # renovate: juju-agent-pin-minor
            libjuju: ^2
          - agent: 3.6.9  # renovate: juju-agent-pin-minor
        cloud:
          - lxd
          - microk8s
    name: Integration test charm | ${{ matrix.juju.agent }} | ${{ matrix.cloud }}
    needs:
      - lib-check
      - lint
      - unit-test
      - build
    uses: akram09/data-platform-workflows/.github/workflows/integration_test_charm.yaml@35.0.2
    with:
      artifact-prefix: ${{ needs.build.outputs.artifact-prefix }}
      cloud: ${{ matrix.cloud }}
      juju-agent-version: ${{ matrix.juju.agent }}
      libjuju-version-constraint: ${{ matrix.juju.libjuju }}
      microk8s-snap-channel: 1.34-strict/stable  # renovate: latest microk8s
