# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.
name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  schedule:
    - cron: '53 0 * * *' # Daily at 00:53 UTC
  # Triggered on push to branch "main" by .github/workflows/release.yaml
  workflow_call:

jobs:
  lint:
    name: Lint
    uses: canonical/data-platform-workflows/.github/workflows/lint.yaml@v13.0.0

  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install tox & poetry
        run: |
          pipx install tox
          pipx install poetry
      - name: Run tests
        run: tox run -e unit

  build:
    name: Build charm
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v13.0.0
    with:
      cache: true

  build-test:
    name: Build test charm
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v13.0.0
    with:
      cache: true
      path-to-charm-directory: tests/integration/app-charm

  integration-test:
    strategy:
      fail-fast: false
      matrix:
        juju:
          - agent: 2.9.46
            libjuju: ^2
          - agent: 3.1.7
        cloud:
          - lxd
          - microk8s
    name: Integration test charm | ${{ matrix.juju.agent }} | ${{ matrix.cloud }}
    needs:
      - lint
      - build
      - build-test
    uses: canonical/data-platform-workflows/.github/workflows/integration_test_charm.yaml@v13.0.0
    with:
      artifact-prefix: packed-charm-cache-true
      cloud: ${{ matrix.cloud }}
      juju-agent-version: ${{ matrix.juju.agent }}
      libjuju-version-constraint: ${{ matrix.juju.libjuju }}
      microk8s-snap-channel: 1.29-strict/stable
