# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.
name: Check libs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ github.event.pull_request.head.repo.full_name == 'canonical/data-integrator' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up environment
        run: |
          pipx install tox
          pipx install poetry
          pipx inject poetry poetry-plugin-export
          # TODO: Remove after https://github.com/python-poetry/poetry/pull/5980 is closed
          poetry config warnings.export false
      - run: |
          # Workaround for https://github.com/canonical/charmcraft/issues/1389#issuecomment-1880921728
          touch requirements.txt
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.4.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

